.person__img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

.person__img--roberta{
    background-image: url('../../img/pessoas/henrique.png');
    background-repeat: no-repeat;
}

.person__img--marcela{
    background-image: url('../../img/pessoas/marcela.jpg');
    background-repeat: no-repeat;
}

.person__img--andreia{
    background-image: url('../../img/pessoas/andreia.jpg');
    background-repeat: no-repeat;
}