@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(128, 128, 128, 0.623);
    padding: 20px 0px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: auto;
}

header > div nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    margin-left: 15px;
}

nav a:hover{
    text-decoration: underline;
}

main{
    max-width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0px;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0px;
}

footer{
    text-align: center;
    background-image: url(imagens-pag02/bg.jpg);
    padding: 40px 0px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 15px;
}

.copyright::before{
    content: '\00A9\00A0';
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.1);
    transfor: rotate(360deg) ;
}

table{
    border-collapse: collapse;
    margin: 20px 0 40px;
} 

thead{
    background-color: gray;
    color: white;
    font-weight: bold;
}

tbody{
    background-color: orange;
    color: white;
}

td, th{
    text-align: center;
    width: 100px;
    padding: 5px;
    border: 1px solid black;
}