@charset "UTF-8";

.titulo-barbearia{
    padding-left: 20px;
}

#banner{
    width: 100%; 
}

.principal{
    background-color: rgba(128, 128, 128, 0.418);
    padding: 30px;
    
}

h2{
    text-align: center;
}
p{
    text-align: center;
}
#forte{
    color: red;
}
#texto{
    font-size: 20px;
}

.beneficios{
    background-color: white;
    padding: 20px;

}

h3{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.itens{
    font-style: italic;
}

.img-beneficios{
    width: 50%;
    
}
