.info{
    text-align: center;
    
}

@media screen and (min-width: 0) {
    .info{
        padding: 2.5rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .info{
        padding: 2.5rem;
    }
}