@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.recips{
    display: flex;
    background-color: rgba(211, 211, 211, 0.61);
    columns: 3;
}

.recips > div{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.37);
    margin: 80px 10px 80px 10px;
}

.recips div > img{
    width: 100.3%;
}

.recips div > h3, p, input{
    margin: 15px;
}

.recip__button{
    color: white;
    background-color: #8D0606;
    font-size: small;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}